body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.display {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
}

.keys button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
  border-bottom-color: white;
  background-color: dimgray;
  color: white; 

}